@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-menu-item {
    @apply px-3 py-2 rounded-md text-sm font-medium;
  }

  .nav-menu-item\:current {
    @apply bg-gray-900 text-white;
  }
  .nav-menu-item\:other {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white;
  }
}
